.leaflet-tooltip.section-tooltip {
    border-color: var(--color-section-outline);
    box-shadow: none;

    color: var(--color-text);

    font-size: 1rem;
    font-weight: 700;

    text-align: center;

    padding: 2px;
}