:root {
  /* Colores para la pagina del mapa del panteon  */
  --color-primary: #0d2d52;
  --color-sidebar: #fff8ec;
  --color-border: #eadcc6;
  --color-border-2: #000000;
  --color-background: #ffffff;
  --color-backbutton: #0d2d52;
  --color-selectSide-button: #d0d0d7;
  --color-selectSide-button-active: #bcbcc3;
  --color-heading: #0b2545;
  --color-text: #222222;

  /* Colores para las geometrias del mapa del panteon  */
  --color-section-outline: #000000;
  --color-block-outline: #7d140b;
  --color-lot-outline: #24a13f;
  --color-niche-zone-outline: #1052af;

  /*Colores de Lotes */
  --color-status-available: #4caf50;
  --color-status-sold: #d32f2f;
  --color-status-used: #1976d2;
  --color-status-reserved: #fbc02d;
  --color-status-unknown: #9e9e9e;
}
