:root {
  /* Colores para la pagina del mapa del panteon  */
  --color-primary: #061e43;
  --color-sidebar: #eff7b1;
  --color-border: #d1d5db;
  --color-background: #ffffff;
  --color-backbutton: #061e43;

  /* Colores para las geometrias del mapa del panteon  */
  --color-section-outline: #000000;
  --color-block-outline: #7d140b;
  --color-lot-outline: #24a13f;

  /*Colores de Lotes */
  --color-lot-available: #4caf50;
  --color-lot-sold: #d32f2f;
  --color-lot-used: #1976d2;
  --color-lot-reserved: #fbc02d;
  --color-lot-unknown: #9e9e9e;
}
